
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-11">
        <div class="box box-default">
            <div class="box-header with-border">
                <i class="fa fa-bullhorn"></i>
                <h3 class="box-title">Informação</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="callout callout-danger">
                    <h4>ERRO!</h4>

                    <p>@ViewBag.Mensagem</p>
                    @*<p>@ViewBag.json</p>*@
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
<!-- END ALERTS AND CALLOUTS -->
